ul{
    padding: 10px;
    list-style-type:none;
    padding: 0;
    margin: 0;
    width:150px;
    background-color:#d6eeee;
}
li{
    display: block;
    color:blue;
    padding: 8px 16px;
}
li:hover {
    background-color:darkorange;
    color:white;
}